# ignore node_modules folder and other site dependencies
**/node_modules/
**/.next/

# exlude the .env.local and .env files
.env.local
.env

# 
*.pyc
.DS_Store

# don't include anything .egg-info related
*.egg-info/

# don't inlcude ipython notebooks
*.ipynb